.weather {

    margin-top: 15%;
    margin-bottom: 15%px;
    padding-bottom: 20px;
    text-align: left;
}

body {
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    transition: .8s ease-in;
}

#navbarText{
    font-size: xx-large;
    position: absolute;
    right:100px;
    background-color: #f8f9fa!important;
}
.country_name{
    margin-right: 7px;
    float: right;
}
.navbar{
    font-family: 'Cinzel', serif;
    height: 60px;
    margin:0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
}
.navbar-brand {
    margin-left: 50px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {

    min-height: 30%;
    position: relative;
}

.chart{
    padding-top: 2%!important;
    background-color: #f8f9fa!important;
    opacity: 0.5;
    
}

#weather_icon {
    position: absolute;
    width: 100px;
    right: 20px;
    top: 20px;
}
#weather_icon1 {
    position: absolute;
    width: 100px;
    right: 20px;
    top: 20px;
}
.btn {
    margin: 10px;
}
#pm1 {
    text-align: center; 
    border-radius: 10px;
}
#pm2 {
    text-align: center;
    border-radius: 10px;
}
.pm{
    margin: 0 auto;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
}